# Crear con el helper: make secrets-apply DOCKERHUB_USER=x DOCKERHUB_TOKEN=x GITHUB_TOKEN=x
# O manualmente:
#   kubectl create secret docker-registry dockerhub-credentials \
#     --docker-server=https://index.docker.io/v1/ \
#     --docker-username=<DOCKERHUB_USER> \
#     --docker-password=<DOCKERHUB_TOKEN> \
#     -n tekton-pipelines
apiVersion: v1
kind: Secret
metadata:
  name: dockerhub-credentials
  namespace: tekton-pipelines
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: <BASE64_DOCKER_CONFIG>
